* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* height: 2000px; */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
header {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
header .logo {
    display: flex;
    height: 80%;
    width: 250px;
    margin: 20px 0px 10px 100px;
}
header .logo img {
    width: 60px;
    height: 70%;
}
header .logo h1 {
    color: black;
}
header .logo h1 span {
    color: orangered;
}
header .header-nav {
    display: flex;
    margin-right: 100px;
}
header .header-nav > li {
    list-style-type: none;
    float: left;
    margin-left: 20px;
    font-size: 18px;
}
header .header-nav > li :hover {
    padding: 12px 0px;
    border-bottom: 2px solid orangered;
    color: orangered;
}
header .header-nav > li a {
    text-decoration: none;
    color: black;
}
main .sec1 {
    position: relative;
}
main .sec1 .container {
    background-image: url(images/Section1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main .sec1 .container .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
}
main .sec1 .sec1-content {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    /* background-color: aqua; */
}
.sec1-content h1 {
    font-size: 100px;
    color: white;
}
.sec1-content h2 {
    font-size: 60px;
    color: white;
}
.sec1-content p {
    color: white;
    font-size: 20px;
    margin: 30px 0px;
    line-height: 28px;
    font-weight: 100;
}
.sec1-content .donate,
.read {
    width: 170px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: orangered;
    color: white;
    border-radius: 18px;
    border: none;
}
.sec1-content .read {
    background-color: transparent;
    border: 2px solid orangered;
}
.sec1-content .read:hover {
    background-color: orangered;
}
main .sec2 {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: auto auto auto;
}
.sec2 .container {
    width: 80%;
    margin: 10% auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.sec2 .container .divs {
    text-align: center;
    background-color: rgb(236, 236, 236);
    color: gray;
    padding: 20px;
    border-radius: 20px;
}
.divs h2 {
    color: rgb(66, 66, 66);
    margin: 15px 0px;
}
.divs i {
    font-size: 80px;
}
.divs p {
    line-height: 25px;
}
.container .divs:hover {
    background-color: orangered;
    color: white;
}
.container .divs:hover h2 {
    color: white;
}
.sec2 .container .div-one {
    background-color: orangered;
    color: white;
}
.container .div-one h2 {
    color: white;
}
.sec3 {
    height: 100vh;
    width: 100%;
    position: relative;
}

.sec3 .container {
    height: 100vh;
    width: 100%;
    background-image: url(images/Section3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec3 .container .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.9);
}
.sec3 .container .overlay .container-welcome {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 10%;
    display: grid;
    grid-template-columns: auto auto;
}
.container-welcome .welcome {
    height: 100%;
    color: white;
    /* background-color: aqua; */
    padding: 40px 0px;
}
.welcome p {
    margin: 20px 0px;
    color: gray;
    line-height: 23px;
}
.welcome h2 {
    font-size: 40px;
}
.welcome .sec3-line {
    width: 80px;
    height: 3px;
    background-color: orangered;
    margin: 20px 0px;
    border-radius: 20px;
}
.welcome button {
    width: 170px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    background-color: orangered;
    color: white;
    border-radius: 18px;
    border: none;
}
.sec4 {
    width: 100%;
    height: 100vh;
}
.sec4 .container {
    width: 80%;
    height: 80%;
    margin: 10%;
    display: grid;
    grid-template-columns: 50% 50%;

    /* background-color: aquamarine; */
}
.sec4 .container .upcoming {
    /* background-color: rgb(165, 175, 184); */
}
.sec4 .container .features {
    /* background-color: aquamarine; */
}
.sec4 h2 {
    font-size: 35px;
}
.sec4 .sec4-lines {
    width: 80px;
    height: 3px;
    background-color: orangered;
    margin: 30px 0px;
    border-radius: 20px;
}

.sec4 .upcoming-div {
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 30px;
    margin-bottom: 20px;
}
.sec4 .upcoming-div img {
    width: 100%;
}
.sec4 a {
    text-decoration: none;
    color: black;
}
.sec4 .upcoming-div p {
    color: rgb(194, 194, 194);
    margin: 10px 0px;
    line-height: 25px;
}
.sec4 .upcoming-div .read-more {
    color: rgb(236, 45, 45);
}
.upcoming-content h3 {
    margin-bottom: 10px;
}
.sec4 .features-div {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(245, 245, 245);
    /* padding: 200px 0px; */
    padding: 20px;
    gap: 20px;
}
/* .sec4 .features-container {
    height: 80%;
} */
.sec4 .features-div .features-content h3 {
    font-size: 20px;
}
.sec4 .features-div .features-content p {
    color: rgb(194, 194, 194);
    margin: 30px 0px;
    line-height: 25px;
    font-size: 18px;
}
.sec4 .features-div .features-content button {
    width: 170px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    background-color: orangered;
    color: white;
    border-radius: 18px;
    border: none;
}
.sec4 #rangeSlider {
    width: 500px;
    height: 10px;
}
.sec5 {
    width: 100%;
    height: 100vh;
}
.sec5 .sec5-container {
    width: 80%;
    height: 90vh;
    margin: 50px 10%;
    background-color: rgb(252, 250, 250);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px 20px;
}
.sec5 .sec5-container .love h2 {
    font-size: 35px;
    line-height: 48px;
}
.sec5 .sec5-container .love .sec5-line {
    width: 80px;
    height: 3px;
    background-color: orangered;
    margin: 50px 0px;
    border-radius: 20px;
}
.sec5 .sec5-container .love p {
    color: gray;
    font-size: 20px;
}
.sec5-icons {
    position: relative;
}
.sec5-icons-container {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    position: absolute;
    bottom: 150px;
    left: 20px;
    text-align: center;
}
.sec5-icons-div i {
    display: block;
    font-size: 60px;
    color: rgb(255, 112, 60);
}
.sec5-icons-div h4 {
    margin: 17px 0px;
    font-size: 30px;
}
.sec5-icons-div p {
    color: gray;
}
footer {
    text-align: center;
    background-color: rgb(36, 36, 36);
    color: gray;
    width: 100%;
    height: 50px;
    padding: 15px 0px;
}
input[type="color"] {
    position: fixed;
    top: 100px;
    left: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
}
@media (max-width: 900px) {
    header .logo {
        margin: auto;
    }
    header .header-nav {
        display: none;
    }
    .container .overlay .sec1-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .sec2 .container {
        display: grid;
        grid-template-columns: auto;
    }
    .sec2 .container .divs {
        height: 400px;
        width: 90%;
        margin: 5px auto;
        font-size: 20px;
        padding: 40px;
        padding-top: 60px;
    }
    /* .sec3 .container .overlay .container-welcome {
        display: grid;
        grid-template-rows: auto;
    } */
}
